.grid-page {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows:repeat(28, 1fr);
    /* The image used */
      background-image: url("paint-send_wide.jpg");
      
      /* Full height */
      height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    
  }
  
  
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXbuttonsXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     button{ 
        font-family: Lato, lato, lato-black;
        font-style: normal;
        font-weight: lighter;
        font-size: 30px;
        color: rgba(0,0,0,1);
        transform: translate(-50%, -50%)
       }
       button {
        background: none;
        color:#000000;
        width: 150px;
        height: 60px;
        font-size: 30px;
           border: 0;
           background: none;
           box-shadow: none;
           border-radius: 0px;
        
        transition: 0.4s;
        overflow: hidden;
       }
       
       
       
       
       button:hover {
           background: #000000;
           color: white;
           cursor:pointer;
        }

/* Dropdown for menu-3 (art) */
.menu-3.dropdown{
  position: relative;
}

.menu-3.dropdown .dropdown-toggle{
  position: relative;
  z-index: 10001;
}

.menu-3.dropdown .dropdown-menu{
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10000;

  min-width: 560px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 10px 24px rgba(0,0,0,0.12);
}

.menu-3.dropdown:hover .dropdown-menu,
.menu-3.dropdown:focus-within .dropdown-menu{
  display: block;
}

.menu-3.dropdown .dropdown-menu a{
  display: block;
  padding: 14px 18px;
  font-family: Lato, lato, lato-black;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.menu-3.dropdown .dropdown-menu a:hover{
  background: linear-gradient(180deg, #111111 0%, #000000 100%);
  color: #ffffff;
  text-decoration: none;
}

.menu-3.dropdown .dropdown-menu .dropdown-tag{
  opacity: 0.75;
  font-size: 0.95em;
}
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
   /*unvisited*/  
     a:link {
      color:#000000;
      text-decoration: none;
    }
    
    /* visited link */
    a:visited {
      color:#000000;
      text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
      color:#000000;
      text-decoration: underline;
    }
    
    /* selected link */
    a:active {
      color:blue;
    }
     /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
  
  body, html {
      height: 100%;
      margin: 0;
    }
  
  .pad{
      grid-column: 1/-1;
      grid-row: 1/2;
  }
  .dhruv{
    
    grid-column: 1/5;
    grid-row:    1/2; 
      
  }
  
  
  .menu-1{
      grid-column: 17/18;
      grid-row:    1/2;
          overflow: visible;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: lighter;
          font-size: 30px;
          color: rgba(0,0,0,1);
      
  }
  .menu-2{
    grid-column: 18/19;
   grid-row:    1/2;
      overflow: visible;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: lighter;
          font-size: 30px;
          color: rgba(0,0,0,1);
  }
  .menu-3{
    grid-column: 19/20;
   grid-row:    1/2;
      overflow: visible;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: lighter;
          font-size: 30px;
          color: rgba(0,0,0,1);
  }
  .menu-4{
    grid-column: 20/21;
   grid-row:    1/2;
      overflow: visible;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: lighter;
          font-size: 30px;
          color: rgba(0,0,0,1);
  }
  .menu-5{
    grid-column: 21/22;
   grid-row:    1/2;
      overflow: visible;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: lighter;
          font-size: 30px;
          color: rgba(0,0,0,1);
  }
  
  .heading-1{
      grid-column: 2/3;
      grid-row: 4/5;
  
      
          overflow: visible;
          
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: bold;
          font-weight: lighter;
          font-size: 35px;
          color: rgba(0,0,0,1);
  
  }
  
  .para-1-1{
      grid-column: 2/-1;
      grid-row: 6/7;
  
      
          overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  
  }
  .para-1-2{
      grid-column: 2/-1;
      grid-row: 7/8;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-1-3{
      grid-column: 2/-1;
      grid-row: 8/9;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  /*------------------------------------------------*/
  .heading-2{
      grid-column: 2/3;
      grid-row: 10/11;
  
      
          overflow: visible;
          
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: bold;
          font-weight: lighter;
          font-size: 35px;
          color: rgba(0,0,0,1);
  
  }
  
  .para-2-1{
      grid-column: 2/-1;
      grid-row: 12/13;
  
      
          overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  
  }
  .para-2-2{
      grid-column: 2/-1;
      grid-row: 13/14;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-2-3{
      grid-column: 2/-1;
      grid-row: 14/15;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  .para-2-4{
      grid-column: 2/-1;
      grid-row: 15/16;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-2-5{
      grid-column: 2/-1;
      grid-row: 16/17;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  .para-2-1-comp{
      grid-column: 4/-1;
      grid-row: 12/13;
  
      
          overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  
  }
  .para-2-2-comp{
      grid-column: 4/-1;
      grid-row: 13/14;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-2-3-comp{
      grid-column: 4/-1;
      grid-row: 14/15;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  .para-2-4-comp{
      grid-column: 4/-1;
      grid-row: 15/16;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-2-5-comp{
      grid-column: 4/-1;
      grid-row: 16/17;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  /*----------------------------------------------------------------
  -------------------------
  ------------------------
  -
  -
  -
  --------------------------------------------------*/
  
  .heading-3{
      grid-column: 2/3;
      grid-row: 18/19;
  
      
          overflow: visible;
          
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: bold;
          font-weight: lighter;
          font-size: 35px;
          color: rgba(0,0,0,1);
  
  }
  
  .para-3-1{
      grid-column: 2/-1;
      grid-row: 20/21;
  
      
          overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  
  }
  .para-3-2{
      grid-column: 2/-1;
      grid-row: 21/22;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-3-3{
      grid-column: 2/-1;
      grid-row: 22/23;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  
  .para-3-1-comp{
      grid-column: 4/-1;
      grid-row: 20/21;
  
      
          overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  
  }
  .para-3-2-comp{
      grid-column: 4/-1;
      grid-row: 21/22;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  .para-3-3-comp{
      grid-column: 4/-1;
      grid-row: 22/23;
  
      overflow: visible;
          width: 689px;
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: rgba(0,0,0,1);
  }
  
  .footer-grid{
      padding: 50px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows:repeat(2, 1fr);
  }
  .copyright{
  
          white-space: nowrap;
          text-align: left;
          font-family: Lato, lato, lato-black;
          font-style: light;
          font-weight: normal;
          font-size: 16px;
          color: rgba(0,0,0,1);
  }
